/* Write your CSS here */
.image {
  height: 30%;
  width: 30%;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 500;
}

.main-heading-light {
  color: black;
}

.main-heading-dark {
  color: white;
}
